# Ignore models directory containing large model files
/models/
/data/
/experiments/
/past_experiments/
/model_save_dir/
/_trash/
/dump/
/Users/mpriessner/windsurf_repos/MultiModalSpectralTransformer/2.0_Automatic_NMR_Data_Generation.ipynb

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
